# Conditions(if, elif, else)

In [ ]:
# Take a username and password, check if both match, and print "Access Granted".

correct_username = "admin"
correct_password = "1234"

username = input("Enter Username:")
password = input("Enter Password")

if username == correct_username and password == correct_password:
    print("Access Granted")
else:
    print("Access Denided")

Access Granted

In [ ]:
#Write a program to check if a number is positive, negative, or zero.


num = int (input("Enter a number"))

if num > 0:
    print("Poitive")
elif num < 0:
    print("negative")
else:
    print("Zero")

negative

In [9]:
age  = 18
has_id = True

if age >= 18 and has_id:
    print("Entry alloded")
else:
    print("Entry denided")

Entry alloded

In [11]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

if num1 > num2:
    print("num2 is Greater")
elif num1 < num2:
    print("num1 is smaller")
else:

    print("Both are equal")

num1 is smaller

In [12]:
num = int(input("Enter a Number"))

if num % 3 == 0 and num %5 == 0:
    print("FizzBuzz")
elif num %3 == 0:
    print("Fizz")
elif num %5 == 0:
    print("Buzz")
else:
    print("not divisible")

Fizz

In [15]:
year = int(input("Enter a year"))

if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
    print("leap year")
else:
    print("Not a Leap year")

Not a Leap year

In [ ]:
num = int(input("Enter a number"))

if num %2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Odd

In [7]:
age = int(input("Enter Your Age"))

if age >= 18:
    print("You can Vote")
else:
    print("You cannot vote")

You can Vote

In [10]:
num = int(input("Enter a number"))

if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

The number is zero

# Loops (while, for)

In [12]:
count = 1

while count <= 5:
    print("Hello", count)
    count += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [13]:
count = 1

while count<=10:
    print("num",count)
    count += 1

num 1
num 2
num 3
num 4
num 5
num 6
num 7
num 8
num 9
num 10

In [3]:
count = 10

while count >= 1:
    print(count)
    count -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [6]:
lives = 3

while lives > 0:
    print("Try again")
    lives -= 1
print("Game over")

Try again
Try again
Try again
Game over

In [7]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,6):
    print("python")

python
python
python
python
python

In [10]:
for i in range(1,21):
    if i %2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
word = "Python"

for char in word:
    print(char)

P
y
t
h
o
n

In [22]:
word = "machinelearning"
count = 0
vowel_found = []

for char in word:
    if char in 'aeiou':
        count += 1
        vowel_found.append(char)

print("vowel count:", count)
print("vowel found:", vowel_found)

vowel count: 6
vowel found: ['a', 'i', 'e', 'e', 'a', 'i']

# Functions

In [25]:
def greet():
    print("Hello Sir")

greet()

Hello Sir

In [ ]:
# Witout parameters
def welcome():
    print("Welcome to python Functions!")

welcome()

Welcome to python Functions!

In [27]:
# with parameters

def greet(name):
    print("Hello", name)

greet("Anoop")
greet("Elon")

Hello Anoop
Hello Elon

In [28]:
def add_numbers(a, b):
    print(a+b)

add_numbers(3,5)
add_numbers(10,20)

8
30

"We use return in a function when we want to send the result back to the caller so it can be stored, reused, or processed further. On the other hand, print() only displays the result on screen and is mainly used for debugging or user messages. In professional code, return is essential for functional logic and testing."

In [29]:
def add_numbers(a, b):
    return a + b

result = add_numbers(4,6)
print("sum is:", result)

sum is: 10

In [32]:
def add_numbers(a, b):
    return a + b

result = add_numbers(3,5)
print("The result is:",result)

result2 = add_numbers(10,20)
print("The result is:",result2)

The result is: 8
The result is: 30

In [ ]:
# Multiple return statements
def can_vote(age):
    if age >= 18:
        return("You can vote")
    else:
        return("You cannot vote")
    
result = can_vote(19)
print(result)

You can vote

In [ ]:
# Using Default parameter
def greet(name = "guest"):
    print("Hello", name)

greet()
greet("Anoop")

Hello guest
Hello Anoop

In [43]:
def area(length, bredth = 1):
    return length * bredth

print(area(5, 4))
print(area(5))

20
5

In [2]:
def calculator(a,b):
    return a+b, a-b

result = calculator(10,5)
print(result)

(15, 5)

In [4]:
def get_stats(a, b):
    return a+b, a*b

result = get_stats(4, 5)
print(result)

(9, 20)

In [5]:
sum_, diff  = get_stats(4, 5)
print("Sum is:", sum_)
print("Product is:", diff)

Sum is: 9
Product is: 20

In [8]:
def greet(name, message):
    print(message, name)

greet("Anoop", "Welcome")
greet(name = "Anoop", message = "Hello")
greet(message="Good morning", name = "Anoop")

Welcome Anoop
Hello Anoop
Good morning Anoop

In [1]:
def student_details(name, age, course):
    print(age, course, name)

student_details(name="Anoop", age=25, course = "Data Science")

25 Data Science Anoop

In [2]:
def add_all(*args):
    total = 0
    for num in args:
        total += num
    return total

print(add_all(2,4,6))
print(add_all(1,2,3,4,5))

12
15

In [4]:
def multiply_all(*args):
    total = 1
    for num in args:
        total *= num
    return total

print(multiply_all(2,3,4))

24

In [5]:
def show_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")

show_info(name="Anoop", age = 25, course="Data science")

name:Anoop
age:25
course:Data science

 # Nested Condition

In [8]:
num = 10

if num > 0:
    if num %2 == 0:
        print("positive and Even")
    else:
        print("Positive but odd")
else:
    print("Not positive")

positive and Even

In [11]:
num = int(input("Enter a number"))

if num > 0:
    if num %3 == 0:
        print("positive and divisible by 3")
    else:
        print("Positive but not divisible by 3")
else:
    print("Not positive")

positive and divisible by 3

# Nested loop

In [12]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [19]:
for i in range(3):
    for j in range(3):
        print("*", end = " ")
    print()

* * *
* * *
* * *

In [23]:
for i in range(1, 4):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *

In [32]:
for i in range(1,4):
    for j in range(i):
        print(j+1,  end=" ")
    print()

1
1 2
1 2 3

In [36]:
for i in range(1, 4):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3

In [46]:
for i in range(3, 0, -1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1 2 3
1 2
1

In [47]:
for i in range(3, 0, -1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

* * *
* *
*

In [48]:
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [49]:
matrix = [
    [10, 20],
    [30, 40],
    [50, 60]
]

for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

10 20
30 40
50 60

In [51]:
matrix = [
    [10, 20],
    [30, 40],
    [50, 60]
]

row_number = 1
for row in matrix:
    total = sum(row)
    print(f"Row{row_number} sum:",total)
    row_number += 1

Row1 sum: 30
Row2 sum: 70
Row3 sum: 110

In [54]:
for i in range(1, 5):
    print()
    for j in range(1, i+1):
        print(j, end="")

1
12
123
1234

In [55]:
def factorial(n):
     if n==1:
        return 1
     else:
         return n*factorial(n-1)
     
print(factorial(5))

120

In [56]:
for i in range(1, 5):
    for j in range(i):
        print("*", end= " ")
    print()

*
* *
* * *
* * * *

In [57]:
n = 4
for i in range(1, n+1):              # rows 1 to 4
    for space in range(n - i):       # print spaces
        print(" ", end=" ")
    for star in range(i):            # print stars
        print("*", end=" ")
    print()                          # new line

      *
    * *
  * * *
* * * *

In [ ]:
def find_max(arr):
    if not arr:
        return None
    
    max_element = arr[0]

    for num in arr:
        if num > max_element:
            max_element = num
    return max_element


arr = [3,7,2,9,1]
result = find_max(arr)
print(result)

None

In [65]:
def second_largest(arr):
    if len(arr) < 2:
        return None
    
    max1 = max2 = float('-inf')

    for num in arr:
        if num > max1:
            max2 = max1
            max1 = num
        elif num > max2 and num != max1:
            max2 = num

    return max2 if max2 != float('-inf') else None

arr = [5,5,5]
result = second_largest(arr)
print(result)

None

# OOPs(Object Oriented Programming)

In [67]:
class phone:
    def __init__(self, name, model):
        self.name = name
        self.model = model

    def smartphone(self):
        print("Name:", self.name)
        print("Model:", self.model)

s = phone("Iphone", "15promax")
s.smartphone()

Name: Iphone
Model: 15promax

In [75]:
class car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year

    def drive(self):
        print(f"The {self.brand} is driving of made Year {self.year}")

my_car = car("BMW", 2020)
my_car.drive()

The BMW is driving of made Year 2020

In [77]:
class student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def display(self):
        print(f"Student {self.name} has scored {self.grade}")

s1 = student("Anoop", 95)
s1.display()

Student Anoop has scored 95

# Using Node

In [82]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

node1 = Node(10)
node2 = Node(20)
node3 = Node(30)

node1.next = node2
node2.next = node3

print(node1.data)
print(node1.next.data)
print(node1.next.next.data)

10
20
30

In [3]:
# Reverse a Linked list

# step 1: Define the Node
class Node:
    def __init__(self, val):
        self.val = val
        self.next = None

# step 2: Write Reverse Function
def reverse_linked_list(head):
    prev  = None
    current = head

    while current:
        next_node = current.next
        current.next = prev
        prev = current
        current = next_node
        
    return prev
    
# step 3: Create Linked List and test
# Create  nodes

node1 = Node(1)
node2 = Node(2)
node3 = Node(3)
node1.next = node2
node2.next = node3

# Reverse it
new_head = reverse_linked_list(node1)

# print reversed list
while new_head:
    print(new_head.val, end="->")
    new_head = new_head.next

3->2->1->